@font-face {
    font-family: 'lineto-circular-pro-medium';
    src: urL('/fonts/lineto-circular-pro-medium.ttf') format('truetype')
}

@font-face {
    font-family: 'lineto-circular-pro-book';
    src: urL('/fonts/lineto-circular-pro-book.ttf') format('truetype')
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202124;
    color: white;
    font-family: lineto-circular-pro-book;
}

a {
    text-decoration: none;
    color: #c7a3ff;
}

#output {
    display: flex;
    background-color: #282828;
    width: 428px;
    border-radius: 0 0 12px 0;
    overflow: hidden;
}

#album-art {
    height: 128px;
    width: 128px;
}

#text-area {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text-area > div {
    margin-left: 10px;
}

#track-name {
    font-size: 18px;
    font-family: lineto-circular-pro-medium;
}

#artist-name {
    font-size: 16px;
}

#title-area {
    width: 428px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#album-icon {
    width: 30px;
}

#title {
    font-size: 18px;
    font-family: lineto-circular-pro-medium;
    margin-left: 5px;
}

.rotating {
    animation: rotation 2s infinite linear;
}

#progress-bar {
    width: 0px;
    height: 5px;
    margin-top: 5px;
    background-color: #1DB954;
}

#instructions, #explanation {
    margin: 30px;
    width: 600px;
}

#instructions-text {
    margin-bottom: 20px;
}
#explanation-text {
    margin: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-button {
    background-color: #1DB954;
    color: white;
    padding: 18px 48px 16px;
    border-radius: 500px;
    font-family: lineto-circular-pro-medium;
    font-size: 14px;
    text-decoration: none;
    user-select: none;
}

#author {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
